@model RegistroAsistenciasDF.Models.Usuario
@{
    ViewData["Title"] = "MostrarUsuario";
}

<div>
<h4>EMPLEADO</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.IdUsuario)</dd>

    <dt class="col-sm-2">Nombre de usuario</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.Username)</dd>

    <dt class="col-sm-2">Contraseña</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.PasswordHash)</dd>
</dl>
</div>

